
<div style="text-align:center; width: 60%;">


</div>

<div class="input-group form-container">
  <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
  <input  type="text" class="form-control input-style" placeholder="Search free high-resolution photos" [(ngModel)]=photoname>
</div>

<button type="button" class="btn btn-primary btn-lg button-style" (click)=getAllPictures()>Search</button>

<div *ngFor="let pic of imagePath.results" class="photos-container" >
  <img src={{pic.urls.small}} class="photos-style" />
</div>
